.barraMenu {
  width: 100%;
  height: 100px;
  background-color: rgb(160, 141, 196);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: -20px;
  opacity: 80%;
}
